* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* header css starts */
.site-header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 10;
}

.logo {
    width: 170px;
    height: 40px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-list a {
    color: black;
    font-size: 18px;
}

.request-demo {
    border: none;
    color: white;
    background-color: black;
    padding: 18px 25px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
